.root{
    /*APARIEMCIA*/
    /*el max es para llegar a un maximo*/
    max-width: 40rem;
    /*vh es para tambien decir el maximo*/
    height: 100vh;
    border: 1px solid black;
    border-radius: 5px;

    /*DOSIFICACIÓN YY POSICION DE HIJOS*/
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    

   /*COMPORTAMIENTO*/

}
/*el signo > solo para el hijo de root osea el componente 
que tiene dentro de el
 en especifico que no estanen otra etiqueta dentro de ello*/
.root > h1{
    font-size: 2rem;

    text-align: center;
}